generate_quiz_from_text copy 2 (1).json
{
  "name": "generate_quiz_from_text copy 2",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "upload_id",
              "value": "={{ $json.upload_id }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "user_id",
              "value": "={{ $json.user_id }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "source",
              "value": "={{ $json.source }}",
              "type": "object"
            },
            {
              "id": "id-4",
              "name": "extracted_text",
              "value": "={{ $json.extracted_text }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "options",
              "value": "={{ $json.options }}",
              "type": "object"
            },
            {
              "id": "3fc504bd-9ef7-4385-8448-db8b247a6bf1",
              "name": "quiz_id",
              "value": "={{ $json.quiz_id }}",
              "type": "string"
            },
            {
              "id": "topic-name-id",
              "name": "topic_name",
              "value": "={{ $json.topic_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "376980a1-d557-4c50-9f77-e9e7a9098576",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3264,
        400
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "upload_id",
              "value": "={{ $('Workflow Configuration').item.json.upload_id }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "user_id",
              "value": "={{ $('Workflow Configuration').item.json.user_id }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "question_count",
              "value": "={{ $('Workflow Configuration').item.json.options.question_count || 10 }}",
              "type": "number"
            },
            {
              "id": "id-4",
              "name": "difficulty",
              "value": "={{ $('Workflow Configuration').item.json.options.difficulty || 'medium' }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "trimmed_text",
              "value": "={{ $('Workflow Configuration').item.json.extracted_text.substring(0, 12000) + ($('Workflow Configuration').item.json.extracted_text.length > 12000 ? $('Workflow Configuration').item.json.extracted_text.substring($('Workflow Configuration').item.json.extracted_text.length - 3000) : '') }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "subject",
              "value": "Uploaded Document",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "topic",
              "value": "={{ $('Workflow Configuration').item.json.topic_name || $('Workflow Configuration').item.json.source.file_name.replace(/\\.[^/.]+$/, '') || 'Document Quiz' }}",
              "type": "string"
            },
            {
              "id": "id-8",
              "name": "source",
              "value": "={{ $('Workflow Configuration').item.json.source }}",
              "type": "object"
            },
            {
              "id": "id-9",
              "name": "question_type",
              "value": "={{ $('Workflow Configuration').item.json.options.question_type || 'mcq' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7cd332a4-0ca9-4ce9-88c1-4ac8171bec96",
      "name": "Normalize Defaults and Trim Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3040,
        400
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://bkmttsciyftuhdwrwppp.supabase.co/rest/v1/uploads?id=eq.{{ $('Normalize Defaults and Trim Text').item.json.upload_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJrbXR0c2NpeWZ0dWhkd3J3cHBwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NzY3MDUzNCwiZXhwIjoyMDgzMjQ2NTM0fQ.mTpFcwx5iXWcnMJ23fnD6uWhs6Iux_iiUPovSQi_7mY"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJrbXR0c2NpeWZ0dWhkd3J3cHBwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NzY3MDUzNCwiZXhwIjoyMDgzMjQ2NTM0fQ.mTpFcwx5iXWcnMJ23fnD6uWhs6Iux_iiUPovSQi_7mY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"status\": \"processing\",\n  \"error_message\": null\n}",
        "options": {}
      },
      "id": "ee4afd13-76a7-456e-9596-a9deada54b2f",
      "name": "PATCH Uploads - Set Processing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2816,
        400
      ]
    },
    {
      "parameters": {
        "url": "=https://bkmttsciyftuhdwrwppp.supabase.co/rest/v1/uploads?id=eq.{{ $('Normalize Defaults and Trim Text').item.json.upload_id }}&select=quiz_id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJrbXR0c2NpeWZ0dWhkd3J3cHBwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NzY3MDUzNCwiZXhwIjoyMDgzMjQ2NTM0fQ.mTpFcwx5iXWcnMJ23fnD6uWhs6Iux_iiUPovSQi_7mY"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJrbXR0c2NpeWZ0dWhkd3J3cHBwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NzY3MDUzNCwiZXhwIjoyMDgzMjQ2NTM0fQ.mTpFcwx5iXWcnMJ23fnD6uWhs6Iux_iiUPovSQi_7mY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "e124965d-4efb-402f-8001-f8ea38864c64",
      "name": "GET Uploads - Check Idempotency",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2592,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const llmOutput =\n  items[0].json?.content?.parts?.[0]?.text ??\n  items[0].json?.message ??\n  items[0].json?.text ??\n  items[0].json;\n\nlet parsed;\n\ntry {\n  // Try to parse the LLM output\n  if (typeof llmOutput === 'string') {\n    parsed = JSON.parse(llmOutput);\n  } else {\n    parsed = llmOutput;\n  }\n} catch (e) {\n  throw new Error('invalid_llm_json: Failed to parse JSON - ' + e.message);\n}\n\n// Validate structure\nif (!parsed.questions || !Array.isArray(parsed.questions)) {\n  throw new Error('invalid_llm_json: Missing or invalid questions array');\n}\n\nconst questionCount = $('Normalize Defaults and Trim Text').item.json.question_count;\nif (parsed.questions.length !== questionCount) {\n  throw new Error(`invalid_llm_json: Expected ${questionCount} questions, got ${parsed.questions.length}`);\n}\n\nconst questionType = $('Normalize Defaults and Trim Text').item.json.question_type;\n\n// Validate each question based on type\nfor (let i = 0; i < parsed.questions.length; i++) {\n  const q = parsed.questions[i];\n  \n  if (questionType === 'mcq') {\n    // Validate MCQ questions\n    if (!q.prompt || q.prompt.trim() === '') {\n      throw new Error(`invalid_llm_json: Question ${i + 1} has empty prompt`);\n    }\n    \n    if (!Array.isArray(q.choices) || q.choices.length !== 4) {\n      throw new Error(`invalid_llm_json: Question ${i + 1} must have exactly 4 choices`);\n    }\n    \n    if (!q.correct_choice || !q.choices.includes(q.correct_choice)) {\n      throw new Error(`invalid_llm_json: Question ${i + 1} correct_choice must match one of the choices`);\n    }\n  } else if (questionType === 'tf') {\n    // Validate True/False questions\n    if (!q.question || q.question.trim() === '') {\n      throw new Error(`invalid_llm_json: Question ${i + 1} has empty question`);\n    }\n    \n    if (typeof q.answer !== 'boolean') {\n      throw new Error(`invalid_llm_json: Question ${i + 1} answer must be true or false`);\n    }\n    \n    if (!q.explanation || q.explanation.trim() === '') {\n      throw new Error(`invalid_llm_json: Question ${i + 1} has empty explanation`);\n    }\n  } else if (questionType === 'fill') {\n    // Validate Fill-in-Blank questions\n    if (!q.question || q.question.trim() === '') {\n      throw new Error(`invalid_llm_json: Question ${i + 1} has empty question`);\n    }\n    \n    if (!q.question.includes('______')) {\n      throw new Error(`invalid_llm_json: Question ${i + 1} must contain a blank (______)`);\n    }\n    \n    if (!Array.isArray(q.correct_answers) || q.correct_answers.length < 2 || q.correct_answers.length > 5) {\n      throw new Error(`invalid_llm_json: Question ${i + 1} must have 2-5 correct_answers`);\n    }\n    \n    if (!Array.isArray(q.required_keywords) || q.required_keywords.length < 1 || q.required_keywords.length > 3) {\n      throw new Error(`invalid_llm_json: Question ${i + 1} must have 1-3 required_keywords`);\n    }\n    \n    if (!q.explanation || q.explanation.trim() === '') {\n      throw new Error(`invalid_llm_json: Question ${i + 1} has empty explanation`);\n    }\n  } else {\n    throw new Error(`invalid_llm_json: Unknown question type: ${questionType}`);\n  }\n}\n\n// Return validated data with normalized fields\nreturn [{\n  json: {\n    subject: parsed.subject || $('Normalize Defaults and Trim Text').item.json.subject,\n    topic: parsed.topic || $('Normalize Defaults and Trim Text').item.json.topic,\n    questions: parsed.questions,\n    upload_id: $('Normalize Defaults and Trim Text').item.json.upload_id,\n    user_id: $('Normalize Defaults and Trim Text').item.json.user_id,\n    difficulty: $('Normalize Defaults and Trim Text').item.json.difficulty,\n    question_count: questionCount,\n    question_type: questionType\n  }\n}];"
      },
      "id": "3db817f9-47ae-4071-8b07-4e375db83c54",
      "name": "Parse and Validate LLM JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1792,
        496
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://bkmttsciyftuhdwrwppp.supabase.co/rest/v1/quizzes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJrbXR0c2NpeWZ0dWhkd3J3cHBwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NzY3MDUzNCwiZXhwIjoyMDgzMjQ2NTM0fQ.mTpFcwx5iXWcnMJ23fnD6uWhs6Iux_iiUPovSQi_7mY"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJrbXR0c2NpeWZ0dWhkd3J3cHBwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NzY3MDUzNCwiZXhwIjoyMDgzMjQ2NTM0fQ.mTpFcwx5iXWcnMJ23fnD6uWhs6Iux_iiUPovSQi_7mY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $json.user_id }}\",\n  \"subject\": \"{{ $json.subject }}\",\n  \"topic\": \"{{ $json.topic }}\",\n  \"difficulty\": \"{{ $json.difficulty }}\",\n \"upload_id\" : \"{{ $json.upload_id }}\",\n \"question_type\" : \"{{ $json.question_type }}\"\n}",
        "options": {}
      },
      "id": "6910d64f-afee-4012-8341-91fe4e468e71",
      "name": "POST Quiz to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1568,
        496
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "questions_batch",
              "value": "={{\n  const questions = $('Parse and Validate LLM JSON').item.json.questions || [];\n  const quizId = $('POST Quiz to Supabase').item.json.id || $('POST Quiz to Supabase').item.json[0]?.id;\n\n  return questions.map(q => {\n    // Handle MCQ type\n    if (q.type === 'mcq') {\n      const idx = (q.choices || []).indexOf(q.correct_choice);\n      const label = idx >= 0 ? ['A','B','C','D'][idx] : null;\n      return {\n        quiz_id: quizId,\n        type: 'mcq',\n        prompt: (q.prompt || '').trim(),\n        choices: q.choices,\n        answer_hash: label?.toLowerCase(),\n        correct_label: label,\n        hint: q.explanation ?? q.hint ?? null\n      };\n    }\n    \n    // Handle True/False type\n    if (q.type === 'tf') {\n      return {\n        quiz_id: quizId,\n        type: 'tf',\n        prompt: (q.question || q.prompt || '').trim(),\n        choices: ['True', 'False'],\n        answer_hash: q.answer === true ? 'true' : 'false',\n        correct_label: q.answer === true ? 'True' : 'False',\n        hint: q.explanation ?? q.hint ?? null\n      };\n    }\n    \n    // Handle Fill-in-the-Blank type\n    if (q.type === 'fill') {\n      return {\n        quiz_id: quizId,\n        type: 'fill',\n        prompt: (q.question || q.prompt || '').trim(),\n        choices: null,\n        answer_hash: JSON.stringify({\n          correct_answers: q.correct_answers || [],\n          required_keywords: q.required_keywords || []\n        }),\n        correct_label: (q.correct_answers || [])[0] || null,\n        hint: q.explanation ?? q.hint ?? null\n      };\n    }\n    \n    // Fallback for unknown types\n    return {\n      quiz_id: quizId,\n      type: q.type || 'mcq',\n      prompt: (q.prompt || q.question || '').trim(),\n      choices: q.choices || null,\n      answer_hash: null,\n      correct_label: null,\n      hint: q.explanation ?? q.hint ?? null\n    };\n  });\n}}",
              "type": "object"
            },
            {
              "id": "id-2",
              "name": "quiz_id",
              "value": "={{ $('Workflow Configuration').item.json.quiz_id }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "upload_id",
              "value": "={{ $('Parse and Validate LLM JSON').item.json.upload_id }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "question_count",
              "value": "={{ $('Parse and Validate LLM JSON').item.json.question_count }}",
              "type": "number"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "id": "5f7bd016-7e19-4da3-8ebc-f2348dca1636",
      "name": "Prepare Questions Batch",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1344,
        496
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://bkmttsciyftuhdwrwppp.supabase.co/rest/v1/quiz_questions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJrbXR0c2NpeWZ0dWhkd3J3cHBwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NzY3MDUzNCwiZXhwIjoyMDgzMjQ2NTM0fQ.mTpFcwx5iXWcnMJ23fnD6uWhs6Iux_iiUPovSQi_7mY"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJrbXR0c2NpeWZ0dWhkd3J3cHBwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NzY3MDUzNCwiZXhwIjoyMDgzMjQ2NTM0fQ.mTpFcwx5iXWcnMJ23fnD6uWhs6Iux_iiUPovSQi_7mY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.questions_batch }}",
        "options": {}
      },
      "id": "6e3636c8-13bc-41a1-b797-f32a2bf5c1f0",
      "name": "POST Questions to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1120,
        496
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://bkmttsciyftuhdwrwppp.supabase.co/rest/v1/uploads?id=eq.{{ $('Normalize Defaults and Trim Text').item.json.upload_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJrbXR0c2NpeWZ0dWhkd3J3cHBwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NzY3MDUzNCwiZXhwIjoyMDgzMjQ2NTM0fQ.mTpFcwx5iXWcnMJ23fnD6uWhs6Iux_iiUPovSQi_7mY"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJrbXR0c2NpeWZ0dWhkd3J3cHBwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NzY3MDUzNCwiZXhwIjoyMDgzMjQ2NTM0fQ.mTpFcwx5iXWcnMJ23fnD6uWhs6Iux_iiUPovSQi_7mY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"status\": \"completed\", \"quiz_id\": \"{{ $('POST Quiz to Supabase').item.json.id || $('POST Quiz to Supabase').item.json[0]?.id }}\", \"error_message\": null }",
        "options": {}
      },
      "id": "3c82b75c-d734-4215-8bae-ecc550a3de1c",
      "name": "PATCH Uploads - Set Completed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -896,
        496
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "ok",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "id-2",
              "name": "upload_id",
              "value": "={{ $('Prepare Questions Batch').item.json.upload_id }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "quiz_id",
              "value": "={{ $('Prepare Questions Batch').item.json.quiz_id }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "question_count",
              "value": "={{ $('Prepare Questions Batch').item.json.question_count }}",
              "type": "number"
            },
            {
              "id": "id-5",
              "name": "reused",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "34c37ab7-3148-4336-a89a-59814af65c74",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -672,
        496
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/uploads?id=eq.={{ $json.upload_id || $('Normalize Defaults and Trim Text').item.json.upload_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"status\": \"failed\", \"error_message\": \"{{ $json.error?.message || $('Error Trigger').item.json.error?.message || 'Unknown error' }}\"}",
        "options": {}
      },
      "id": "269754b3-3f8b-478a-a06a-3d0c060b02af",
      "name": "PATCH Uploads - Set Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -896,
        688
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "ok",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "id-2",
              "name": "upload_id",
              "value": "={{ $json.upload_id || $('Normalize Defaults and Trim Text').item.json.upload_id }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "error",
              "value": "={{ $json.error?.message || $('Error Trigger').item.json.error?.message || 'Unknown error' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "04deef5f-e5f7-4008-a05a-b4c021b8fda7",
      "name": "Format Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -672,
        688
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "86d13f3f-d22a-42dd-abbe-c3399d013496",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -3488,
        400
      ]
    },
    {
      "parameters": {},
      "id": "78d06c57-912d-4d89-975e-c01ea1b730d3",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -1120,
        688
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ff9cfeee-f3b1-4734-ad19-db2b6af01d34",
              "name": "status",
              "value": "\"success\"",
              "type": "string"
            },
            {
              "id": "738b224c-3fed-4370-a1b7-f7c960c68e41",
              "name": "quiz_id",
              "value": "={{ $json.quiz_id }}",
              "type": "string"
            },
            {
              "id": "12c1595a-f0d5-462a-ad9e-653e81f736cf",
              "name": "upload_id",
              "value": "={{ $json.upload_id }}",
              "type": "string"
            },
            {
              "id": "3da392ce-5fc0-4b68-b05c-34953fca8e98",
              "name": "question_count",
              "value": "={{ $json.question_count }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -448,
        592
      ],
      "id": "6ab925b1-010d-4c03-8b74-305132107528",
      "name": "Return to Main"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Normalize Defaults and Trim Text').item.json.question_type }}",
                    "rightValue": "mcq",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1560f59a-dd99-48b1-8766-e50e26d35918"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "MCQ"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Normalize Defaults and Trim Text').item.json.question_type }}",
                    "rightValue": "tf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "fd584671-68bd-40ea-b302-d5fed86918c9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "True/False"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Normalize Defaults and Trim Text').item.json.question_type }}",
                    "rightValue": "fill",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "457b2956-6e2d-416a-b772-452aab7dd993"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Fill-in-Blank"
            }
          ]
        },
        "options": {}
      },
      "id": "e4542606-c943-4b52-a5cc-1ce9b4503389",
      "name": "Route by Question Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2368,
        384
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-flash-latest",
          "cachedResultName": "models/gemini-flash-latest"
        },
        "messages": {
          "values": [
            {
              "content": "=Return ONLY valid JSON. No markdown. No extra text.\nOutput must be a JSON object with this shape:\n{\n  \"questions\": [ ... ]\n}\n\nGenerate EXACTLY {{ $('Normalize Defaults and Trim Text').item.json.question_count }} MCQ questions based on the source_text and topic.\nDifficulty: {{ $('Normalize Defaults and Trim Text').item.json.difficulty }}.\n\nEach question object must be:\n{\n  \"type\": \"mcq\",\n  \"prompt\": \"string\",\n  \"choices\": [\"A\",\"B\",\"C\",\"D\"],\n  \"correct_choice\": \"A|B|C|D\",\n  \"explanation\": \"string\"\n}\n\nRules:\n- choices must be 4 items exactly\n- correct_choice must be one of the 4 choices (A/B/C/D), not the full text\n- No repeated questions\n- Must be answerable from source_text\n\nsource_text:\n{{ $('Normalize Defaults and Trim Text').item.json.trimmed_text }}\ntopic:\n{{ $('Normalize Defaults and Trim Text').item.json.topic }}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "id": "a3d688de-8995-44e8-a21e-f6c9c8896f29",
      "name": "Generate MCQ Questions",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -2144,
        304
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "Fx0lcRveU9gFQVYY",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-flash-latest",
          "cachedResultName": "models/gemini-flash-latest"
        },
        "messages": {
          "values": [
            {
              "content": "=Return ONLY valid JSON. No markdown. No extra text.\nOutput must be a JSON object:\n{\n  \"questions\": [ ... ]\n}\n\nGenerate EXACTLY {{ $('Normalize Defaults and Trim Text').item.json.question_count }} True/False questions based on the source_text and topic.\nDifficulty: {{ $('Normalize Defaults and Trim Text').item.json.difficulty }}.\n\nEach question object:\n{\n  \"type\": \"tf\",\n  \"question\": \"string\",\n  \"answer\": true|false,\n  \"explanation\": \"string\"\n}\n\nRules:\n- Must be answerable from source_text\n- Avoid tricky wording like double negatives\n- No repeated questions\n\nsource_text:\n{{ $('Normalize Defaults and Trim Text').item.json.trimmed_text }}\ntopic:\n{{ $('Normalize Defaults and Trim Text').item.json.topic }}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "id": "de1e55df-7a6f-4778-8e6f-2e19c43c5f2b",
      "name": "Generate True/False Questions",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -2144,
        496
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "Fx0lcRveU9gFQVYY",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-flash-latest",
          "cachedResultName": "models/gemini-flash-latest"
        },
        "messages": {
          "values": [
            {
              "content": "=Return ONLY valid JSON. No markdown. No extra text.\nOutput must be a JSON object:\n{\n  \"questions\": [ ... ]\n}\n\nGenerate EXACTLY {{ $('Normalize Defaults and Trim Text').item.json.question_count }} fill-in-the-blank questions based on the source_text and topic.\nDifficulty: {{ $('Normalize Defaults and Trim Text').item.json.difficulty }}.\n\nEach question object:\n{\n  \"type\": \"fill\",\n  \"question\": \"string containing exactly one blank like ______\",\n  \"correct_answers\": [\"string\",\"string\"],\n  \"required_keywords\": [\"string\"],\n  \"explanation\": \"string\"\n}\n\nRules:\n- Answers must be SHORT: 1–3 words max\n- correct_answers must contain 2–5 acceptable variants\n- required_keywords must contain 1–3 keywords that must appear in a correct answer\n- Must be answerable from source_text\n- No paragraph/essay questions\n\nsource_text:\n{{ $('Normalize Defaults and Trim Text').item.json.trimmed_text }}\ntopic:\n{{ $('Normalize Defaults and Trim Text').item.json.topic }}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "id": "5b25444e-4396-4b60-a2e7-adff0848b063",
      "name": "Generate Fill-in-Blank Questions",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -2144,
        688
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "Fx0lcRveU9gFQVYY",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "upload_id": "b28fb1a6-38e3-4c2c-9347-c5ceaac79b74",
          "user_id": "6af6b979-fc31-4ef9-b3fc-ae67ae3c3e2c",
          "source": {
            "file_name": "Topic 2 DIT1233 NETWORK SECURITY (2).pdf",
            "file_path": "6af6b979-fc31-4ef9-b3fc-ae67ae3c3e2c/b28fb1a6-38e3-4c2c-9347-c5ceaac79b74/Topic_2_DIT1233_NETWORK_SECURITY__2_.pdf",
            "mime_type": "application/pdf"
          },
          "extracted_text": "Topic 2 NETWORK SECURITY DIT1233 Network Administration and Security OUR GOALS!! • Understand the concepts of threats, attacks, and vulnerabilities • Differentiate between identification and authentication • Explain various access control methods • Understand firewall and VPN technologies for securing networks. Threats and Attacks (RFC 4949) One way to analyze harm is to consider the cause or source. We call a potential cause of harm a threat. What Is Threats ? Harm can be caused by either nonhuman events or humans. Weakness of a system that can be accidentally or intentionally exploited to damage assets. Example: • Unnecessary privilege. • Account with default password. • Weak access control. Vulnerability needs to be rated (criticality). Vulnerability scanner : - A systematic and automated way of identifying vulnerability. - Knowledge based What Is Vulnerabilities? Security Threats / Attacks Human threats can be either benign (nonmalicious) or malicious. Nonmalicious kinds of harm include someone’s accidentally spilling a soft drink on a laptop, unintentionally deleting text, inadvertently sending an email message to the wrong person, and carelessly typing “12” instead of “21” when entering a phone number or clicking “yes” instead of “no” to overwrite a file. These inadvertent, human errors happen to most people; we just hope that the seriousness of harm is not too great, or if it is, that we will not repeat the mistake. Nonmalicious Threats Most computer security activity relates to malicious, human- caused harm: A malicious person actually wants to cause harm, and so we often use the term attack for a malicious computer security event. Malicious attacks can be random or directed. Malicious Threats In a random attack the attacker wants to harm any computer or user;. An example of a random attack is malicious code posted on a website that could be visited by anybody. Malicious Threats In a directed attack, the attacker intends harm to specific computers, perhaps at one organization (think of attacks against a political organization) or belonging to a specific individual (think of trying to drain a specific person’s bank account, for example, by impersonation). Kinds of Threats Computer and Network Assets, with Examples of Threats Determining who a person really is consists of two separate steps: • Identification is the act of asserting who person is. • Authentication is the act of proving that asserted identity: that the person is who she says she is. What Is Authentication? Identification Versus Authentication ? Identification: Who are you? Definition: Identification is the process of claiming or declaring your identity. In network security, this typically involves providing a username or user ID. Purpose: To establish a basic level of identity and differentiate one user from another. Authentication: Prove it's you Definition: Authentication is the process of verifying the claimed identity. It involves providing evidence or proof that you are who you claim to be. Methods: Common authentication methods include: Something you know: Passwords, PINs, security questions Something you have: Security tokens, smart cards, mobile phones Something you are: Biometrics (fingerprints, facial recognition, iris scans) Identities are typically public or well known. Authentication should be private. Identification Versus Authentication ? Authentication mechanisms use any of three qualities to confirm a user’s identity: ✓ 1. Something the user knows. Passwords, PIN numbers, passphrases, a secret handshake, and mother’s maiden name are examples of what a user may know. 2. Something the user is. These authenticators, called biometrics, are based on a physical characteristic of the user, such as a fingerprint, the pattern of a person’s voice, or a face (picture). 3. Something the user has. Identity badges, physical keys, a driver’s license, or a uniform are common examples of things people have that make them recognize Identification Versus Authentication ? ✓Authentication mechanisms : Two or more forms can be combined; for example, a bankcard and a PIN combine something the user with has (the card) something the user knows (the PIN). Access means someone can get at an asset. What is access ? o owner - A person responsible for the integrity and security of an asset. This may be a management role instead of a technical role. o Custodian / keeper - A person who maintains the security of a system, perhaps by adding and removing access by user accounts. (This role is also called an administrator.) o end user - A person who uses the asset, such as reading a file, opening a web page, or printing some data from a database, but who is not allowed to change access rights to the asset. This concept is also called a subject in some texts. o subjects (users or processes acting for users) perform operations on objects (assets) Access Control Methods Mandatory Access Control (MAC) – the most restrictive model; the owner defines a security policy, the custodian implements it, and the end users cannot change it; this may be implemented by setting a security level for each asset and granting authorization to users by assigning them to a level. ◦ Role Based Access Control (RBAC) - access is granted to roles (groups) defined on the systems, end users are assigned to roles so they can access assets needed for their jobs; ◦ Task Based Access Control (TBAC) - may be the most complex model; rules can change which role a user is assigned to, based on the task the user is performing, changing the level of access the user has Discretionary Access Control (DAC) - least restrictive model; subjects (end users) can own objects, and have total control over them (like a SharePoint web server system); end users must set and maintain security for their assets, which most people will do badly; processes run by end users inherit their permission levels Access Control Methods Discretionary Access Control (DAC) - least restrictive model; subjects (end users) can own objects, and have total control over them (like a SharePoint web server system); end users must set and maintain security for their assets, which most people will do badly; processes run by end users inherit their permission levels Firewall NOTE : We’ll cover Firewall Topic in detail in Chapter 12 Firewall Firewall What is Firewall ? A firewall is a network security device that monitors incoming and outgoing network traffic and permits or blocks data packets based on a set of security rules. Firewall What is Firewall ? Its purpose is to establish a barrier between your internal network and incoming traffic from external sources (such as the internet) in order to block malicious traffic like viruses and hackers. Firewalls, may be classified three different ways: • by their processing type • by their evolutional generation • by the way they are implemented (structure). Firewall Firewall by their processing type Packet-filtering firewalls Application gateway firewalls Circuit gateways MAC layer firewalls Hybrids Second generation - application level by their evolutional generation First generation - static packet filtering Third generation - stateful inspection Fourth generation - dynamic packet filtering Fifth generation - examines packets at several layers by the way they are implemented (structure). Commercial systems Small Office Residential (consumer) software Commercial appliances Virtual Private Network VPN A virtual private network (VPN) is a security technology that enables authorized users to use an unsecured public network, such as the Internet, as if it were a secure private network. It does this by encrypting all data that is transmitted between the remote endpoint and the network, not just specific documents or files. Types of VPN Trusted VPN - uses leased data lines from a data vendor that are guaranteed to be separate from the rest of their network; obviously this is expensive and not an option if you do not trust the vendor. Secure VPN - uses security technology and encryption to make your traffic meaningless to eavesdroppers. Hybrid VPN - uses both of the methods above, typically over several hops to the target network (What's a hop? Every time our signals pass across another router, that's a hop.) How Does VPN Works ? A VPN hides your IP address by letting the network redirect it through a specially configured remote server run by a VPN host. This means that if you surf online with a VPN, the VPN server becomes the source of your data. This means your Internet Service Provider (ISP) and other third parties cannot see which websites you visit or what data you send and receive online. What are the benefits of a VPN connection? 1. Secure encryption: To read the data, you need an encryption key . Without one, it would take millions of years for a computer to decipher the code in the event of a brute force attack . With the help of a VPN, your online activities are hidden even on public networks. What are the benefits of a VPN connection? 2. hiding location: VPN servers essentially act as your proxies on the internet. Because the demographic location data comes from a server in another country, your actual location cannot be determined. In addition, most VPN services do not store logs of your activities. Some providers, on the other hand, record your behavior, but do not pass this information on to third parties. This means that any potential record of your user behavior remains permanently hidden. What are the benefits of a VPN connection? 3. Secure data transfer: If you work remotely, you may need to access important files on your company’s network. For security reasons, this kind of information requires a secure connection. To gain access to the network, a VPN connection is often required. VPN services connect to private servers and use encryption methods to reduce the risk of data leakage. In a directed attack, what is the attacker's intention? A. To randomly infect computers B. To cause disruption without a specific target C. To harm specific computers or individuals D. To enhance security measures ns er Correct answer: C What is the primary distinction between identification and authentication? A. Identification is the act of asserting identity; authentication is proving that identity. B. Identification is proving identity; authentication is asserting identity. C. Identification is the same as authentication. D. None of the above. ns er Correct answer: A Which access control method is considered the most restrictive? A. Role Based Access Control (RBAC) B. Discretionary Access Control (DAC) C. Mandatory Access Control (MAC) D. Task Based Access Control (TBAC) ns er Correct answer: C (A) is the claim of that someone or something is, and (B) established whether or not this claim is true. IdentificationAuthentication",
          "options": {
            "difficulty": "medium",
            "question_count": 5,
            "question_types": [
              "mcq"
            ]
          },
          "quiz_id": "",
          "topic_name": "Topic 2 DIT1233 NETWORK SECURITY (2)"
        }
      }
    ]
  },
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Normalize Defaults and Trim Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Defaults and Trim Text": {
      "main": [
        [
          {
            "node": "PATCH Uploads - Set Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PATCH Uploads - Set Processing": {
      "main": [
        [
          {
            "node": "GET Uploads - Check Idempotency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Uploads - Check Idempotency": {
      "main": [
        [
          {
            "node": "Route by Question Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse and Validate LLM JSON": {
      "main": [
        [
          {
            "node": "POST Quiz to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Quiz to Supabase": {
      "main": [
        [
          {
            "node": "Prepare Questions Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Questions Batch": {
      "main": [
        [
          {
            "node": "POST Questions to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Questions to Supabase": {
      "main": [
        [
          {
            "node": "PATCH Uploads - Set Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PATCH Uploads - Set Completed": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        [
          {
            "node": "Return to Main",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Response": {
      "main": [
        [
          {
            "node": "Return to Main",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PATCH Uploads - Set Failed": {
      "main": [
        [
          {
            "node": "Format Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "PATCH Uploads - Set Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Question Type": {
      "main": [
        [
          {
            "node": "Generate MCQ Questions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate True/False Questions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Fill-in-Blank Questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate MCQ Questions": {
      "main": [
        [
          {
            "node": "Parse and Validate LLM JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate True/False Questions": {
      "main": [
        [
          {
            "node": "Parse and Validate LLM JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Fill-in-Blank Questions": {
      "main": [
        [
          {
            "node": "Parse and Validate LLM JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "d891b96c-9ff7-4e21-9d6d-8f6eecce5d41",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7f77dde16d03ffee9a7ef8b39cd458ce6dcd15ee57890e5fed2a214a6f3de7f4"
  },
  "id": "WCno2z8WbveTJChz",
  "tags": []
}