parse_timetable_subworkflow (1).json
{
  "name": "parse_timetable_subworkflow",
  "nodes": [
    {
      "parameters": {},
      "id": "976cde98-ac36-49db-8218-05bceb42e84a",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        480,
        576
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "upload_id",
              "value": "={{ $json.upload_id }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "user_id",
              "value": "={{ $json.user_id }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "purpose",
              "value": "={{ $json.purpose || 'timetable' }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "timezone",
              "value": "={{ $json.timezone || 'Asia/Kuala_Lumpur' }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "mime_type",
              "value": "={{ $json.mime_type || 'image/png' }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "signed_url",
              "value": "={{ $json.signed_url }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "gemini_model",
              "value": "={{ $env.GEMINI_MODEL || 'gemini-2.0-flash' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "ab1d578f-5939-4e29-9383-57f288cdc87a",
      "name": "Workflow Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        576
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.signed_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "2ba9efc6-b9e6-4fb6-b047-bed160f742ab",
      "name": "Download File (Signed URL)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        928,
        576
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "switch-pdf",
                    "leftValue": "={{ $('Workflow Config').item.json.mime_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "switch-image",
                    "leftValue": "={{ $('Workflow Config').item.json.mime_type }}",
                    "rightValue": "image/",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-filetype-001",
      "name": "Switch: File Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1152,
        576
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "extract-pdf-001",
      "name": "Extract Text from PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1376,
        352
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-text-len",
              "leftValue": "={{ $json.text ? $json.text.trim().length : 0 }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-pdf-text-001",
      "name": "IF: PDF Has Text?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1600,
        352
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Workflow Config').item.json.gemini_model }}"
        },
        "text": "You are a precise timetable parser. Extract ALL class/session entries from this timetable.\n\nDETECTION RULES:\n1. Identify table structure: determine which axis shows days (Mon-Sun) and which shows time slots.\n2. Handle both formats:\n   - Grid tables: days as columns, times as rows (or vice versa)\n   - List formats: lines like \"Monday 10:00-12:00 Mathematics\"\n3. Extract ALL sessions, including those in merged cells or spanning multiple hours.\n4. If multiple sessions appear in one cell, split them into separate entries.\n\nTIME HANDLING:\n- Accept 12-hour (8am, 2:30pm) or 24-hour (08:00, 14:30) formats\n- Convert ALL times to 24-hour format HH:MM (e.g., 08:00, 14:30)\n- If end time is missing or unclear, estimate as start time + 1 hour\n- For sessions spanning multiple slots, use the full start-end range\n\nDAY ABBREVIATIONS:\n- Use exactly: Mon, Tue, Wed, Thu, Fri, Sat, Sun\n- Map Monday→Mon, Tuesday→Tue, etc.\n\nCONTENT EXTRACTION:\n- title: Subject name and lecturer if visible (e.g., \"Mathematics - Dr. Smith\")\n- location: Room/building if visible (e.g., \"Room 301\", \"Building A\")\n- Ignore: semester dates, week numbers, holidays - extract only recurring weekly schedule\n\nOUTPUT FORMAT:\nReturn ONLY a raw JSON array. No markdown, no code blocks, no explanation:\n[{\"day\":\"Mon\",\"start\":\"08:00\",\"end\":\"10:00\",\"title\":\"Subject Name\",\"location\":\"Room 301\"}]\n\nIf no entries found, return: []",
        "inputType": "binary",
        "options": {
          "maxOutputTokens": 8192
        }
      },
      "id": "ff8e960a-1ee4-43cc-99e6-d1597aed39a2",
      "name": "Gemini Vision (Image / Scanned PDF)",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1824,
        576
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "Fx0lcRveU9gFQVYY",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Workflow Config').item.json.gemini_model }}"
        },
        "prompt": {
          "messages": [
            {
              "role": "user",
              "content": "={{ 'You are a precise timetable parser. Extract ALL class/session entries from this timetable text.\\n\\nDETECTION RULES:\\n1. Look for patterns with a day name + time range + subject.\\n2. Handle both grid and list formats.\\n3. Extract ALL sessions found.\\n\\nTIME HANDLING:\\n- Accept 12-hour (8am, 2:30pm) or 24-hour (08:00, 14:30) formats\\n- Convert ALL times to 24-hour HH:MM (e.g., 08:00, 14:30)\\n- If end time is missing, estimate start + 1 hour\\n\\nDAY ABBREVIATIONS: Mon, Tue, Wed, Thu, Fri, Sat, Sun\\n\\nCONTENT:\\n- title: subject name + lecturer if visible\\n- location: room/building if visible\\n- Ignore semester dates, week numbers, holidays\\n\\nOUTPUT FORMAT:\\nReturn ONLY a raw JSON array, no markdown, no explanation:\\n[{\"day\":\"Mon\",\"start\":\"08:00\",\"end\":\"10:00\",\"title\":\"Subject\",\"location\":\"Room\"}]\\n\\nIf no entries found, return: []\\n\\n--- TIMETABLE TEXT ---\\n' + $json.text.trim() }}"
            }
          ]
        },
        "options": {
          "maxOutputTokens": 8192,
          "temperature": 0.1
        }
      },
      "id": "gemini-text-001",
      "name": "Gemini Text (Text-Based PDF)",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1824,
        240
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "Fx0lcRveU9gFQVYY",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const config = $('Workflow Config').item.json;\nconst uploadId = config.upload_id;\nconst userId = config.user_id;\nconst purpose = config.purpose || 'timetable';\nconst timezone = config.timezone || 'Asia/Kuala_Lumpur';\nconst mimeType = config.mime_type || 'image/png';\nconst model = config.gemini_model || 'gemini-2.0-flash';\n\n// Extract Gemini response - handle ALL output shapes:\n// Simplify ON:  $json.content = 'raw text string'\n// Simplify OFF: $json.content = { parts: [{ text: 'raw text' }] }\n// Text node:    $json.response or $json.text = 'raw text'\nlet geminiResponse = '';\nif (typeof $json.content === 'string') {\n  geminiResponse = $json.content;\n} else if ($json.content && $json.content.parts && Array.isArray($json.content.parts)) {\n  geminiResponse = ($json.content.parts[0] && $json.content.parts[0].text) || '';\n} else if (typeof $json.response === 'string') {\n  geminiResponse = $json.response;\n} else if (typeof $json.text === 'string') {\n  geminiResponse = $json.text;\n} else if ($json.output && typeof $json.output === 'string') {\n  geminiResponse = $json.output;\n}\n\n// Determine extraction method for metadata\nconst extractedFrom = mimeType === 'application/pdf'\n  ? (geminiResponse.length > 0 && $json.inputType !== 'binary' ? 'gemini_text_pdf' : 'gemini_vision_pdf')\n  : 'gemini_vision_image';\n\n// Parse JSON with repair fallback\nlet items = [];\nlet parseWarnings = [];\n\ntry {\n  const parsed = JSON.parse(geminiResponse);\n  items = Array.isArray(parsed) ? parsed : [];\n} catch (e) {\n  parseWarnings.push('initial_parse_failed');\n  const match = geminiResponse.match(/\\[[\\s\\S]*\\]/);\n  if (match) {\n    try {\n      items = JSON.parse(match[0]);\n    } catch (e2) {\n      parseWarnings.push('json_extraction_failed');\n      items = [];\n    }\n  }\n}\n\n// Normalization helpers\nconst validDays = ['Mon','Tue','Wed','Thu','Fri','Sat','Sun'];\nconst dayMap = {\n  'Monday':'Mon','Tuesday':'Tue','Wednesday':'Wed','Thursday':'Thu',\n  'Friday':'Fri','Saturday':'Sat','Sunday':'Sun',\n  'Mon':'Mon','Tue':'Tue','Wed':'Wed','Thu':'Thu',\n  'Fri':'Fri','Sat':'Sat','Sun':'Sun',\n  'Tues':'Tue','Thurs':'Thu','Thur':'Thu'\n};\n\nfunction normalizeTime(t) {\n  if (!t) return null;\n  t = String(t).trim().toLowerCase();\n  let isPM = /pm/.test(t);\n  let isAM = /am/.test(t);\n  t = t.replace(/[ap]m/g, '').trim();\n  if (/^\\d{3,4}$/.test(t)) {\n    const p = t.padStart(4,'0');\n    t = p.slice(0,2) + ':' + p.slice(2);\n  } else if (/^\\d{1,2}[.:]\\d{2}$/.test(t)) {\n    const parts = t.replace('.',':').split(':');\n    t = parts[0].padStart(2,'0') + ':' + parts[1];\n  } else if (/^\\d{1,2}$/.test(t)) {\n    t = t.padStart(2,'0') + ':00';\n  } else {\n    return null;\n  }\n  if (isPM || isAM) {\n    const parts = t.split(':');\n    let hour = parseInt(parts[0]);\n    if (isPM && hour < 12) hour += 12;\n    if (isAM && hour === 12) hour = 0;\n    t = hour.toString().padStart(2,'0') + ':' + parts[1];\n  }\n  return t;\n}\n\nfunction timeToMins(t) {\n  const p = t.split(':');\n  return parseInt(p[0]) * 60 + parseInt(p[1]);\n}\n\nfunction addHour(t) {\n  const m = timeToMins(t) + 60;\n  const h = Math.floor(m / 60) % 24;\n  return h.toString().padStart(2,'0') + ':' + (m % 60).toString().padStart(2,'0');\n}\n\nconst processedItems = [];\nconst seen = new Set();\n\nitems.forEach(function(item) {\n  if (!item || !item.day || !item.start || !item.title) return;\n\n  let day = String(item.day).trim();\n  if (dayMap[day]) {\n    day = dayMap[day];\n  } else if (day.length >= 3) {\n    const short = day.charAt(0).toUpperCase() + day.slice(1,3).toLowerCase();\n    day = dayMap[short] || short;\n  }\n  if (!validDays.includes(day)) {\n    parseWarnings.push('invalid_day:' + item.day);\n    return;\n  }\n\n  const start = normalizeTime(item.start);\n  let end = normalizeTime(item.end);\n  if (!start) { parseWarnings.push('invalid_start'); return; }\n  if (!end) end = addHour(start);\n  if (timeToMins(end) <= timeToMins(start)) { end = addHour(start); }\n\n  const title = String(item.title || 'Class').trim();\n  const location = String(item.location || '').trim();\n\n  const key = day + '|' + start + '|' + title;\n  if (seen.has(key)) return;\n  seen.add(key);\n\n  processedItems.push({ day, start, end, title, location });\n});\n\nif (processedItems.length === 0) parseWarnings.push('no_items_parsed');\n\nreturn [{\n  json: {\n    upload_id: uploadId,\n    user_id: userId,\n    purpose: purpose,\n    timezone: timezone,\n    items: processedItems,\n    meta: {\n      source_mime_type: mimeType,\n      extracted_from: extractedFrom,\n      model_used: model,\n      parsed_count: processedItems.length,\n      warnings: parseWarnings.slice(0, 5)\n    }\n  }\n}];"
      },
      "id": "6374819d-5b96-413b-b695-689f35db975e",
      "name": "Parse and Validate Gemini Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2048,
        576
      ]
    },
    {
      "parameters": {},
      "id": "7f553cc2-ee15-4430-a5f4-1c6f1bca3baa",
      "name": "Return",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2272,
        576
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Workflow Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Config": {
      "main": [
        [
          {
            "node": "Download File (Signed URL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File (Signed URL)": {
      "main": [
        [
          {
            "node": "Switch: File Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: File Type": {
      "main": [
        [
          {
            "node": "Extract Text from PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gemini Vision (Image / Scanned PDF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text from PDF": {
      "main": [
        [
          {
            "node": "IF: PDF Has Text?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: PDF Has Text?": {
      "main": [
        [
          {
            "node": "Gemini Text (Text-Based PDF)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gemini Vision (Image / Scanned PDF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Text (Text-Based PDF)": {
      "main": [
        [
          {
            "node": "Parse and Validate Gemini Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Vision (Image / Scanned PDF)": {
      "main": [
        [
          {
            "node": "Parse and Validate Gemini Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse and Validate Gemini Output": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "59c78960-406e-4d10-a651-c17f00686d7b",
  "meta": {
    "instanceId": "7f77dde16d03ffee9a7ef8b39cd458ce6dcd15ee57890e5fed2a214a6f3de7f4"
  },
  "id": "LOeVJT-Ja3UYvLngsvsGW",
  "tags": []
}